* {
    box-sizing: border-box;
    border: none;
    outline: unset;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


form {
    width: 500px;
    padding: 60px 40px;
    border: 2px solid rgb(26 94 150);;
}

table {
    border-spacing: 10px;
    width: 100%;
}

.table-field {
    background-color: rgb(65 145 171);
    color: white;
    border: 2px solid rgb(26 94 150);;
    padding: 10px 20px;
    width: 30%;
    text-align: center;
}
.table-input {
    border: 2px solid rgb(26 94 150);;
}

.table-input input {
    height: 100%;
    width: 100%;
    padding: 10px 20px;
}


.genders-radio {
    display: flex;
}

.genders {
    margin-right: 10px;
}

.genders input {
    margin-right: 10px;
}

.table-select {
    border: 2px solid rgb(26 94 150);;
    padding: 10px 0;
}

.btn {
    text-align: center;
}

.btn-submit {
    margin-top: 20px;
    padding: 20px 40px;
    background-color: rgb(0, 175, 0);
    border-radius: 10px;
    color: white;
    border: 2px solid rgb(26 94 150);
    cursor: pointer;
}