.user-name {
    width: 200px;
    height: 40px;
    background-color: rgb(115, 173, 73);
    margin: 10px;
    border: 3px solid #3498db;
    color: #fff;
    text-align: center;
    line-height: 40px;
}

.submit {
    width: 200px;
    height: 30px;
    background-color: #3498db;
    margin: 10px;
    border: none;
    color: #fff;
    text-align: center;
}

.input,
.input-text,
.output-text,
.input-textarea,
.option_input {
    width: 400px;
    height: 40px;
    margin: 10px;
    line-height: 40px;
    border: 3px solid #3498db;
}

.input-textarea {
    height: 80px;
}

.submit-button,
.confirm-button {
    width: 200px;
    height: 40px;
    margin: 10px;
    border: none;
    color: #fff;
    text-align: center;
    line-height: 35px;
    background-color: rgb(115, 173, 73);
    border-radius: 10px;
    border: 3px solid #3498db;
}

.label-container div,
.input-container,
.submit-container,
.confirm-container,
.container {
    margin: 10px; 
}

.container {
    border: 3px solid #3498db;
    padding: 20px; 
}

#phpContent {
    margin-left: 500px;
}

.option {
    margin-left: 450px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.custom-checkbox {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-right: 20px;
    cursor: pointer;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #007bff;
    border-radius: 50%;
}

.custom-checkbox input:checked ~ .checkmark:after {
    content: '';
    position: absolute;
    display: block;
    background-color: white;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text {
    color: white;
}

.required {
    color: red;
}

.error {
    margin-left: 500px;
}
